polkit.addRule(function(action, subject) {
    if (action.id === "org.freedesktop.policykit.exec" &&
        action.lookup("program") === "/usr/bin/tee" &&
        action.lookup("command_line").indexOf("/usr/share/sddm/scripts/Xsetup") !== -1 &&
        subject.active === true &&
        subject.local  === true) {
        return polkit.Result.YES;
    }
});
